.DS_Store
.apdisk
/.vagrant/
/.cache/
/_var/
/proj/
/backups/
/bigfiles/
/sites/*
!/sites/.gitignore
/mysql/*
!/mysql/.gitignore
/vagrant/README.md
/vagrant/Vagrantfile
/vagrant/.gitignore
/vagrant/etc/httpd/sites.d/*.conf
!/vagrant/etc/httpd/sites.d/00_localhost.conf
