.DS_Store
.apdisk
.Spotlight-V100
.Trashes
.TemporaryItems
.DocumentRevisions-V100
.fseventsd
.idea
.ansible-retry
/.vagrant/
/.machines/
/.shared/
/proj/
/tools/
/private/
/backups/
/bigfiles/
/vendor/
