.DS_Store
.apdisk
.Spotlight-V100
.TemporaryItems
.fseventsd
/.vagrant/
/.shared/
/_var/
/proj/
/private/
/backups/
/bigfiles/
/sites/*
!/sites/.gitignore
/mysql/*
!/mysql/.gitignore
/vagrant/etc/httpd/sites.d/*.conf
!/vagrant/etc/httpd/sites.d/00_localhost.conf
